<table style="width:100%;">
	<tbody>
		<tr>
			<td>
			<table align="center" style="width:600px">
				<tbody>
					<tr>
						<td>
						<table style="width:94%">
							<tbody>
								<tr>
								</tr>
								<tr>
									<td style="background-color:#ffffff; border-bottom:1px solid #f0f0f5; border-color:rgba(201,201,207,.35)">
									<table align="center" style="width:600px">
										<tbody>
											<tr>
												<td>
												<table style="width:562.109px">
													<tbody>
														<tr>
															<td style="border-bottom-width:1px; border-color:rgba(201, 201, 207, 0.35)">
															<table style="width:100%">
																<tbody>
																	<tr>
																		<td style="vertical-align:top; width:395px">
																		<p>Welcome you {{USERNAME}} to {{SITE_TITLE}} family!</p>

																		<p><a href="{{ACTIVATION_LINK}}" style="background: #de1717; text-decoration: none; padding: 10px 25px; color: #ffffff; border-radius: 4px; display:inline-block; mso-padding-alt:0;text-underline-color:#de2417"><em> </em><strong>Activate Account</strong><em> </em></a></p>
																		</td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
														<tr>
															<td style="background-color:#071c36; text-align:center;color:#cccccc;">
															<p>® {{SITE_TITLE}} {{YEAR}}</p>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>